:root {
    --ul-color: red;
    --ol-color: blue;
    --dl-color: green;
}

body {
    color: rgb(96, 96, 96);
}

ul li:nth-child(2n) {
    color: var(--ul-color);
}

ol li:nth-child(3n+2) {
    color: var(--ol-color);
}

dl dt:first-child,
dl dt:nth-last-child(2),
dl dd:last-child {
    color: var(--dl-color);
}